/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background: url('../images/bg-image.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
  }
  
  /* Navbar Styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #44c409;
    padding: 20px 20px;
    color: white;
  }
  
  .navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    margin: 0 10px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  input, select, textarea {
    height:25px;
    width:70%;
  }
  form{

    width: 40%;
    padding: 2%;
  
  }
  button {
    width: 30%;
    height:30px;
    margin-left: 40%;
  }
  /* Footer Styles */
  footer {
    background-color: #44c409;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .navbar ul {
      flex-direction: column;
      align-items: center;
    }
  
    .container {
      width: 100%;
      padding: 10px;
    }
  }
  